<div class="card">
    <div class="card">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex w-50" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <i class="material-icons">search</i>
            </button>
          </form>
          
          <div class="dropdown">
            <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">menu</i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <ul class="list-unstyled d-flex justify-content-center align-items-center">
                <li>MENU</li>
              </ul>            
              <li><button class="dropdown-item" type="button">Solicitudes de alumnos</button></li>
              <li><button class="dropdown-item" type="button">Compendio de casos</button></li>
              <li><button class="dropdown-item" type="button">Casos Aceptados</button></li>
              <li><button class="dropdown-item" type="button">Acta LXX</button></li>
              <li><button class="dropdown-item" type="button">Historial de casos</button></li>
              <li><button class="dropdown-item" type="button">Papelera</button></li>
            </ul>
          </div> 
        </div>
      </nav>     
      </div>  
    </div>
    