/* This first section is a simple "reset". It allows the navbar to push up against the top of the browser window with no white space around it. This code also sets the default font for your whole page. Put it at the very top of your css page.  */
html, body, ul, li, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
  }
    
    .sec44{
        background-color: #e4c7c7;
        height: 240px;
    }
    .p1{
        font-size: 150%;
        color:white;
        text-align: center;
        padding-top: 2%;
    }
    .p2{
        font-size: 150%;
        color:white;
        text-align: center;
    }
    .p3{
        font-size: 150%;
        color:white;
        text-align: center;
    }
  
  
  /* cambios nuevos */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Esto garantiza que el cuerpo de la página tenga al menos el alto de la ventana */
  
  }
  header {
    background-color: #f3f2f2;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
      background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: left top; /* Alinea la imagen a la izquierda arriba */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    padding: 10px 20px;
    width: 100%;
  }
  main {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 20px; /* Añade espacio alrededor del contenido principal */
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu .search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    
  }
  
  .menu .dropdown {
    position: relative;
  }
  
  .menu .dropdown button {
    background-color: #d4d2d2;
    color: #000000;
    border-radius: 0%;
    cursor: pointer;
  }
  .menu-title {
    background-color: rgb(3, 180, 3);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    display: flex; /* Usamos flexbox para centrar verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    height: 40px; /* Altura deseada para el título */
    border-radius: 10px;
  }
  
  .menu .dropdown-content {
    display: none;
    position: absolute;
    background-size: cover;
    background-position: center bottom; /* Centra la imagen horizontalmente y la coloca un poco más abajo */
    background-color: #ffffff; /* Establece el color de fondo del menú desplegable */
    min-width: 200px; /* Aumenta este valor para hacer el menú más ancho */
    min-height: 300px; /* Aumenta este valor para colocar la imagen más abajo */
    padding: px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
    right: 0; /* Coloca el menú a la izquierda */
    font-weight: bold;
    
  }
  /* Cambio de estilo para las opciones del menú */
  .dropdown-content a {
    color: black !important; /* Cambia el color del texto a negro */
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  .dropdown-content a:hover {
    background-color: #ebdbdb;
  }
  
  
  .menu .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .menu h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container {
    max-width: 80%;
    margin: 20px 0;
    overflow-x: auto;
    padding: 20px;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1px;
    width: 100%;
    font-size: 11px; /* Ajusta el tamaño de la fuente según tus preferencias */
  }
  
  
  
  .header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #fffcfc;
  }
  
  .header_fixed thead th {
    position: sticky;
    text-align: center;
    top: 0;
    background-color: rgb(211, 200, 200);
    color: #070707;
    font-size: 15px;
  }
  
  th,
  td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  tr:nth-child(odd) {
    background-color: #edeef1;
  }
  
  tr:hover td {
    color: #050505;
    cursor: pointer;
    background-color: #ffffff;
  }
  
  td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(207, 66, 66, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilo para el contenedor de búsqueda */
  .search {
    background-color: #b8b3b3;
    border:  solid #fffbfb;
    border-radius: 10 px;
    padding: 5px;
    width: 800px; /* Ajusta el ancho a tu preferencia */
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* Invierte la dirección de los elementos */
  }
  
  /* Estilo para el icono de búsqueda */
  .search::before {
    content: '\f002'; /* Código Unicode del icono de búsqueda (puedes cambiarlo) */
    font-family: 'Font Awesome 5 Free'; /* Fuente de Font Awesome */
    font-weight: 900;
    font-size: 20px;
    color: #000000; /* Color del icono */
    margin-left: 0px; /* Cambiamos margin-right a margin-left */
  }
  .search input[type="text"] {
    border: none;
    outline: none;
    width: 100%; /* Esto hará que el input ocupe todo el ancho del contenedor */
    margin-left: 5px; /* Puedes ajustar el margen según sea necesario */
    padding: 5px; /* Puedes ajustar el padding según sea necesario */
  }
  .search-button {
    display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0px;
      border: 0px solid #ccc;
      width: 220px;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  .search-button:hover {
    background-color: #ccc;
  }
  .search-button i {
    font-size: 16px;
    color: #000000;
    margin-left: 10px; /* Ajusta el margen para separar el icono del campo de búsqueda */
  }
  /* Estilos personalizados para el botón y el menú desplegable */
  .Jefe .btn-secondary {
    background-color: transparent !important; /* Fondo transparente */
    border: none !important; /* Sin borde */
    color: black !important; /* Color de texto en negro */
    font-weight: bold !important; /* Texto en negritas */
  }
  
  .Jefe .dropdown-menu {
    background-color: transparent !important; /* Fondo transparente */
    border: none !important; /* Sin borde */
  }
  
  /* Cambio de estilo al pasar el ratón por encima (opcional) */
  .Jefe .btn-secondary:hover {
    background-color: rgb(128, 125, 125) !important; /* Fondo transparente al pasar el ratón */
  }
  
  .Jefe .dropdown-item:hover {
    background-color: transparent !important; /* Fondo transparente al pasar el ratón */
    color: black !important; /* Color de texto en negro al pasar el ratón */
  }
  /* Agrega estilos para los botones en tu componente */

/* Estilos generales para todos los botones */
table tr td .Aceptar{
  width: 40px; /* Ancho deseado */
  height: 40px; /* Alto deseado */
  padding: 0; /* Elimina el relleno interno */
  border: 2px solid black; /* Elimina el borde */
  background-color: rgb(11, 255, 153); /* Cambia el color de fondo del botón según tus preferencias */
  color: #000000; /* Cambia el color del texto del botón según tus preferencias */
  border-radius: 50%; /* Hace que el botón sea circular */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente el contenido del botón */
  align-items: center; /* Centra verticalmente el contenido del botón */
}

table tr td .rechazar{
  width: 40px; /* Ancho deseado */
  height: 40px; /* Alto deseado */
  padding: 0; /* Elimina el relleno interno */
  border: 2px solid black; /* Elimina el borde */
  background-color: rgb(255, 27, 27); /* Cambia el color de fondo del botón según tus preferencias */
  color: #070707; /* Cambia el color del texto del botón según tus preferencias */
  border-radius: 50%; /* Hace que el botón sea circular */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente el contenido del botón */
  align-items: center; /* Centra verticalmente el contenido del botón */
}

table tr td .pape{
  width: 40px; /* Ancho deseado */
  height: 40px; /* Alto deseado */
  padding: 0; /* Elimina el relleno interno */
  border: 2px solid black; /* Elimina el borde */
  background-color: rgb(241, 238, 46); /* Cambia el color de fondo del botón según tus preferencias */
  color: #070707; /* Cambia el color del texto del botón según tus preferencias */
  border-radius: 50%; /* Hace que el botón sea circular */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente el contenido del botón */
  align-items: center; /* Centra verticalmente el contenido del botón */
}

table tr td i{
  display: flex;
  gap: 10px;
}
.botones-container {
  display: flex;
  gap: 10px; /* Agrega un espacio de 10px entre los botones */
}