<app-my-navbar></app-my-navbar>

<div class="container row justify-content-between">
    <div class="card1">
        ACTA DE LA {{palabras}} SESION {{tipoSesion}}DEL COMITE ACADEMICO DEL TECNOLOGICO DE ESTUDIOS SUPERIORES DE CHALCO TESCHA/ACTA.COM.ACAD./{{ getCurrentDate() | date: 'dd-MM-yyyy' }}/{{romano}}   
    </div>
    <div class="card">
        En la Sala de Juntas de la Dirección Académica del Edificio Bicentenario de la Independencia del Tecnológico de Estudios Superiores de Chalco “TESCHA”, ubicado en la Carretera Federal México-Cuautla s/n y Carretera Chalco-Miraflores, La Candelaria Tlapala, Chalco, Estado de México, siendo las {{currentDateAndTime.time }} del dia {{ currentDateAndTime.date }} se reunieron de manera virtual en segunda convocatoria, a fin de celebrar la {{romano}} Sesión {{tipoSesion}} del Comité Académico del Tecnológico de Estudios Superiores de Chalco:
        {{ getFormattedAsistentes()}}
    </div>
    <p class="p">ORDEN DEL DIA </p> 
    <div>
        <div>
            <i class="material-icons">check_box</i> 1. Lista de asistencia y declaratoria de quórum.
        </div>
        <div>
            <i class="material-icons">check_box</i> 2. Lectura y aprobación del Orden del día.
        </div>
        <div>
            <i class="material-icons">check_box</i> 3. Discusión y resolución de los asuntos para los que fue citado el Comité Académico.
        </div>
        <div>
            <i class="material-icons">check_box</i> 3.1 Presentación y análisis de los casos de estudiantes para los que fue citado el Comité Académico.
        </div>
        <div>
            <i class="material-icons">check_box</i> 4. Asuntos Generales
        </div>
    </div>
    
</div>
