<div>
    <div class="topnav" id="myTopnav">
        <img class="book-logo" src="assets/images/logo1.png" alt="">
        <a  href="" class="active"><img class="ini" src="assets/images/home.png" alt=""></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div> 
    <div>
        <section>
            <div class="sec22">
                <form action="" class="login-form">
                    <div class="form-box">
                        <div class="form-value">
                            <form action="">
                                <h2>Restablecer Contraseña</h2>
                            
                                <div class="inputbox">
                                    <input type="email" required>
                                    <label for="">@ Email ID</label>
                                </div>
    
                                <div class="recuperar">
                                    <button>Restablecer Contraseña</button>
                                    <!-- Agrega un espacio en blanco entre los botones -->
                                    &nbsp;
                                </div>
                                
                                <div class="enviar">
                                    <button>Iniciar Sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div>
        <section class="sec4">
            <div class="sec44">
                <p class="p1">Carretera Federal México Cuautla s/n La Candelaria Tlapala, 56641 Chalco de Díaz Covarrubias, Méx.</p>
                <p class="p3">© 2022 Tecnológico de Estudios Superiores de Chalco. Todos los derechos reservados</p>
            </div>
        </section>
    </div>
</div>
