<div class="Reg">
    <div class="topnav" id="myTopnav">
        <img routerLink="/login" class="book-logo" src="assets/images/logo1.png" alt="">
        <a  href="" class="active"><img class="ini" src="assets/images/home.png" alt=""></a>
        <a routerLink="/inicio" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <section id="carrucel" class="sec1">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/Group-259.jpg" class="d-block w-100" alt="slider1">
          </div>
          <div class="carousel-item">
            <img src="assets/images/Pancarta2.jpg" class="d-block w-100" alt="slider2">
          </div>
          <div class="carousel-item">
            <img src="assets/images/pancarta3.jpg" class="d-block w-100" alt="slider3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      
    </section>
    <section>
        <div class="regCaso">
            <h4 class="h4reg">Registro de caso</h4>
        </div>
    </section>
    <section class="secform">
      <div class="parent">
        <form [formGroup]="casoForm" enctype="multipart/form-data" (submit)="registrarCaso()" class="example-form">
          <mat-label>Ingresa tu nombre</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Nombre completo empezando por apellidos</mat-label>
            <input matInput placeholder="Nombre completo empezando por apellidos" formControlName="nombreCom" >
          </mat-form-field>

          <mat-label>Ingresa tu matricula</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Matricula</mat-label>
              <input matInput type="number" placeholder="201924..." formControlName="matricula" (input)="limitarLongitud('matricula', 10)">
              <mat-error *ngIf="casoForm.get('matricula')?.invalid && (casoForm.get('matricula')?.dirty || casoForm.get('matricula')?.touched)">
                El número teléfono debe tener exactamente 10 dígitos.
              </mat-error>
          </mat-form-field>

          <mat-label>Ingresa tu numero de teléfono</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Teléfono/celular</mat-label>
            <input matInput type="number" placeholder="10 digitos" id="telefono" formControlName="telefono" (input)="limitarLongitud('telefono', 10)">
            <mat-error *ngIf="casoForm.get('telefono')?.invalid && (casoForm.get('telefono')?.dirty || casoForm.get('telefono')?.touched)">
              El número teléfono debe tener exactamente 10 dígitos.
            </mat-error>
          </mat-form-field>

          <mat-label>Ingresa tu dirección</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Dirección</mat-label>
            <textarea matInput type="text" placeholder="Calle 30..." id="direccion" formControlName="direccion" style="resize: none;"></textarea>
          </mat-form-field>

          <mat-label>Selecciona tu carrera:</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Carrera</mat-label>
            <select name="opciones" formControlName="carrera"  matNativeControl required>
              <option value="Ingeniería en Sistemas Computacionales">Ingeniería en Sistemas Computacionales</option>
              <option value="Ingeniería Industrial">Ingeniería Industrial</option>
              <option value="Ingeniería Electromecánica">Ingeniería Electromecánica</option>
              <option value="Ingeniería Informática">Ingeniería Informática</option>
              <option value="Ingeniería Electrónica">Ingeniería Electrónica</option>
              <option value="Ingeniería en Administración">Ingeniería en Administración</option>
            </select>
          </mat-form-field>

          <mat-label>Selecciona tu caso:</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Caso</mat-label>
            <select name="opciones" formControlName="casoTipo"  matNativeControl required>
              <option value="Residencias por tercera ocasión">Residencias por tercera ocasión</option>
              <option value="Cambio de modalidad">Cambio de modalidad</option>
              <option value="Decimotercer semestre">Decimotercer semestre</option>
              <option value="Asignatura por asesoría">Asignatura por asesoría</option>
              <option value="Curso de materia de especialidad no vigente">Curso de materia de especialidad no vigente</option>
              <option value="Anulación de semestre">Anulación de semestre</option>
            </select>
          </mat-form-field>

          <mat-label>Selecciona tu semestre:</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Semestre</mat-label>
            <select name="opciones" formControlName="semestre" matNativeControl required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
            </select>
          </mat-form-field>

          <mat-label>Ingresa tu correo institucional</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Correo institucional</mat-label>
            <input matInput type="email" placeholder="Pedro_sc@..." id="correo" formControlName="correo" >
          </mat-form-field>

          <mat-label>Confirmar correo institucional</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Confirmar correo institucional</mat-label>
            <input matInput type="email" id="confirmarcorreo" placeholder="Pedro_sc@..." formControlName="confirmarcorreo" (input)="verificarCorreos()">
            <div *ngIf="casoForm.get('confirmarcorreo')?.touched && !correosCoinciden" style="color: red;">Los correos no coinciden</div>
          </mat-form-field>


          <mat-label>Motivos personales</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Motivos</mat-label>
            <textarea matInput type="text" placeholder="Debido a..."  id="motivos-p" formControlName="motivosPer" style="resize: none;" required></textarea>
          </mat-form-field>

          <mat-label>Motivos Académicos</mat-label>
          <mat-form-field class="example-full">
            <mat-label>Motivos</mat-label>
            <textarea matInput type="text" placeholder="Debido a..."  id="motivos-a" formControlName="motivosAca" style="resize: none;" required></textarea>
          </mat-form-field>

            <label class="form-label">Subir evidencia</label>
            <input class="form-control" type="file" accept=".pdf" (change)="onFileChange($event)" formControlName="evidencia" required/>

            <button type="submit" class="btnselectfile" [disabled]="!formularioCompleto" mat-raised-button color="primary">Registrar caso</button>
        </form>
      </div>
    </section>
    
    <section>
        <div id="contacto" class="sec44">
            <p class="p1">Carretera Federal México Cuautla s/n La Candelaria Tlapala, 56641 Chalco de Díaz Covarrubias, Méx.</p>
            <p class="p2">Correo   Comite    5500887733 / 5522447765     Lineamientos Politicas de Privacidad</p>
            <p class="p3">© 2022 Tecnologico de Estudios Superiores de Chalco. Todos los derechos reservados</p>
        </div>
    </section>
</div>
